@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "material-color";

// variables
$primary: $indigo-500;
$secondary: $red-700;
$success: $green-500;
$info: $blue-500;
$warning: $yellow-500;
$danger: $red-500;
$light: $grey-300;
$dark: $black;

$link-hover-decoration: none;
$border-radius: 0;
$enable-responsive-font-sizes: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/***********************
base styles
************************/
.temp {
  height: 250px;
}

body {
  overflow-x: hidden;
  cursor: url("../cursor.cur"), auto;
}

ul {
  list-style-type: none;
}

/***********************
typography
************************/
// warning!
strong {
  color: $secondary;
}
// COPWEAPS
b {
  font-family: "Allerta Stencil", sans-serif;
  // font-family: 'Saira Stencil One', cursive;
}

/***********************
nav
************************/
.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.nav-link:hover {
  color: $secondary !important;
}

.nav-link.active {
  color: $secondary !important;
}

.navbar {
  border-bottom: $secondary 3px solid;
  opacity: 0.95;
}

/***********************
home
************************/
.home-section {
  background: url(../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: $light;
  font-family: "Montserrat", sans-serif;
}

.home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.99));
}

.home-section .home-inner {
  padding-top: 150px;
}

/***********************
noise, flix, gigs
************************/
.head-section {
  background: $dark;
  color: $light;
  padding: 75px;
}

.main-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/brickwall.jpg);
    padding: 75px;
}

/***********************
footer
************************/
.main-footer {
  background: $dark;
  color: $light;
}

.fa-facebook-square:hover {
  color: #3b5998 !important;
}

.fa-youtube-square:hover {
  color: #f00 !important;
}

.fa-bandcamp:hover {
  color: #629aa9 !important;
}

/***********************
modal
************************/

.modal {
  padding-top: 100px;
}

.fade {
  background-color: rgba(0, 0, 0, 0.8);
}

.field {
  padding-bottom: 12px;
}

//not working
.recaptcha {
  width: 100%;
}

/* Small devices (landscape phones) */

@media (min-width: 1200px) {
  #home-section .home-inner {
    padding-top: 350px;
  }
}

// @import 'bootstrap';
@import "config";
